* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    transition: color 0.2s linear, background-color 0.2s linear;
}
.wht-text {
    color: white;
}
.bg-black {
    background-color: black;
}
.nav {
    height: 60px;
    border-bottom: 1px solid black;
    box-shadow: 0px 1px 20px 0px black;
}

.mode,.card {
    cursor: pointer;
}

.nav, .filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.filters {
    flex-wrap: wrap;
    margin-top: 40px;
}
.filter1 input {
    padding: 10px;
    border: 0;
    font-size: 18px;
}
.filter1 span {
    padding: 0 10px ;
}

.filter1 {
    padding-right: 5px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    border: 1px solid;
}
.filter2 select {
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 20px;
}

.countries {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card img {
    height: 150px;
    border-radius: 10px 10px 0 0;
}
.card {
    padding: 2px;
    border-radius: 10px;
    margin: 20px;
}

.card-body h5, .card-body ul li span{
    font-weight: 700;
}
.card-body ul{
    padding: 10px 0;
    list-style: none;
}

.blue {
    background-color: #2b343c;
}
.white,input::placeholder{
    color: white;
}
#border-white {
    border: white;
}

.border-white {
    border: 1px solid white;
}

@media screen and (max-width: 700px) {
    .filters {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .filters div {
        width: 50vw;
        margin: 8px 0;
        display: flex;
        justify-content: center;
    }
    .filter1 {
        padding: 10px 20px;
        font-size: 14px;
    }
    .nav h1 {
        margin: 0;
        font-size: 16px;
    }
    .filter1 input {
        padding: 0 20px;
        width: 40vw;
    }
    .filter2 select{
        width: 50vw;
        font-size: 14px;
    }
}
@media screen and (max-width: 700px) {
    .nav h1 {
        display: none;
    }
}
