* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    transition: color 0.5s linear, background-color 0.5s linear;
}
.wht-text {
    color: white;
}
.bg-black {
    background-color: black;
}
.nav {
    height: 60px;
    border-bottom: 1px solid black;
    box-shadow: 0px 1px 20px 0px black;
}

.nav, .filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.filters {
    margin-top: 40px;
}
.filter1 input {
    padding: 10px;
    width: 300px;
    border: 0;
    font-size: 18px;
}
.filter1 span {
    padding: 0 10px ;
}

.filter1 {
    padding-right: 5px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    border: 1px solid;
}
.filter2 select {
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 20px;
}

.countries {
    margin: 50px auto;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card img {
    height: 150px;
    border-radius: 10px 10px 0 0;
}
.card {
    border-radius: 10px;
    margin: 20px;
}

.card-body h5, .card-body ul li span{
    font-weight: 700;
}
.card-body ul{
    padding: 10px 0;
    list-style: none;
}

.blue {
    background-color: #2b343c;
}
.white,input::placeholder,#border-white {
    border: white;
    color: white;
}